<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

    <link href='http://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
    <!-- <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" /> -->
    <!-- build:css({app,.tmp}) /css/main.css -->
    <link rel="stylesheet" href="/_bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/boilerplate.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/app-medium.css">
    <link rel="stylesheet" href="/css/app-small.css">
    <!-- endbuild -->
    <!-- build:js({app,.tmp}) /js/head-scripts.js -->
    <!-- Replace with a custom modernizer build for production -->
    <script src="/_bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->

  </head>
  <body>
    {% include browse_happy.html %}
    <nav id="mini-nav">
      <a class="row" href="http://etufe.com">
        &#127969; Etufe.com
      </a>
      <a class="row" href="/feed.xml">
        &#9873; Subscribe
      </a>
    </nav>
    <header>
      <nav class="container">
        <a id="logo" href="/" alt="Etufé Blog"></a>
        <a id="subscribe" href="/feed.xml" alt="RSS Feed">
          <span class="icon">&#9873;</span>SUBSCRIBE
        </a>
        <a id="home" href="http://etufe.com" alt="RSS Feed">
          <span class="icon">&#127969;</span>Etufe.com
        </a>
        <div id="mini-nav-btn">
          <div class="stripe"></div>
          <div class="stripe"></div>
          <div class="stripe"></div>
        </div>
      </nav>
    </header>
    <div id="main-column">
      {{ content }}
    </div>
    <footer>
      <a href="http://creativecommons.org/licenses/by-sa/4.0/"> CC-BY-SA-4.0</a> {{ page.date | date: "%Y" }} &#9884; Etufé
    </footer>
    {% include scripts.html %}
    <!--% include googleanalytics.html %}-->
  </body>
</html>
