<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

    <!-- build:css({app,.tmp}) /css/main.css -->
    <link rel="stylesheet" href="/_bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/boilerplate.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/app-medium.css">
    <!-- endbuild -->

    <!-- build:js({app,.tmp}) /js/head-scripts.js -->
    <!-- Replace with a custom modernizer build for production -->
    <script src="/_bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->

  </head>
  <body>
    {% include browse_happy.html %}
    <header>
      <div class="container">
        <a id="logo" href="/" alt="Etufé Blog"></a>
        <a id="subscribe" href="/feed.xml" alt="RSS Feed">
          <span class="icon">&#9873;</span>SUBSCRIBE
        </a>
      </div>
    </header>
    <div id="main-column">
      {{ content }}
    </div>
    {% include scripts.html %}
    <!--% include googleanalytics.html %}-->
  </body>
</html>
