@media screen and (max-width: 1000px){
  header{
    position: unset;
    height: 100px;
    width: 100%;
    border-bottom: 1px solid #777;
    .container{
      width: 700px;
      height: 100px;
      margin: auto;
    }
    #logo{
      float: left;
      margin-left: 15px;
      height: 100px;
      width: 100px;
      background-size: contain;
      background-image: url(/img/logo.png);
    }
    #subscribe{
      float: right;
      margin-top: 33px;
      width: 120px;
    }
  }
}
