@media screen and (max-width: 1000px){
  header{
    position: relative;
    left: 0;
    height: 100px;
    width: 100%;
    .container{
      width: 700px;
      height: 100px;
      margin: auto;
    }
    #logo{
      float: left;
    }
    #subscribe, #home{
      float: right;
      margin-top: 33px;
      width: 120px;
    }
  }
  .posts{
    margin-top: 20px;
  }
  .page-header{
    margin-top: 0;
  }
}
