@media screen and (max-width: 750px){
  code{
    white-space: normal;
  }
  header{
    .container{
      width: 100%;
    }
    #logo{
      margin-left: 15px;
    }
    #subscribe{
      float: right;
      margin-top: 33px;
      width: 120px;
    }
  }
  .page-header{
    padding: 0 1rem;
    .page-subtitle{
      float: none;
    }
    p{
      padding: 0!important;
    }
  }
  #main-column{
    width: 100%;
    p{
      padding: 0 1rem;
    }
  }
  .highlight{
    width: 100%;
    border-radius: 0;
    box-shadow: inset 0 0 3px rgba(0,0,0,.6);
    .lineno{
      display: none;
    }
  }
  .posts{
    padding: 0 1rem;
    article{
      margin-bottom: 1.2rem;
    }
    time{
      color: #777;
    }
    a{
      display: block;
    }
  }
  article{
    h2{
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 500px){
  #subscribe, #home{ display: none!important; }
  header{
    box-shadow: 0 -2px 2px rgba(0,0,0,0.2);
  }
  #mini-nav-btn{
    float: right;
    margin-right: 30px;
    margin-top: 30px;
    cursor: pointer;
    display: inline-block!important;
    width: 30px;
    height: 30px;
    .stripe{
      background-color: black;
      height: 4px;
      border-radius: 4px;
      margin: 4px 0;
    }
  }
  #mini-nav{
    display: block;
    margin-top: -6rem;
    height: 6rem;
    background-color: rgba(0,0,0,0.03);
    .row{
      display: block;
      height: 3rem;
      padding-left: 2rem;
      padding-top: .5rem;
      font-size: 1.2rem;
      color: #7286AD;
      text-decoration: none;
    }
  }
}
