@media screen and (max-width: 710px){
  header{
    .container{
      width: 100%;
    }
    #subscribe{
      float: right;
      margin-top: 33px;
      width: 120px;
    }
  }
  .page-header{
    padding: 0 1rem;
    .page-title{
      font-size: 2.5rem;
      line-height: 2.5rem;
    }
    .page-subtitle{
      float: none;
    }
    p{
      padding: 0!important;
    }
    time{
      float: none
    }
  }
  #main-column{
    width: 100%;
    p{
      padding: 0 1rem;
    }
  }
  .highlight{
    width: 100%;
    border-radius: 0;
  }
  .posts{
    padding: 0 1rem;
    article{
      margin-bottom: 1.2rem;
    }
    time{
      color: #777;
    }
    a{
      display: block;
    }
  }
}

