body, html{
  background-image: url(/img/old_wall.png);
  font-size: 100%;
  width: 100%;
  margin: 0;
  min-width: 320px;
  font-family: Inconsolata,
               Courier,
               "Helvetica Neue",
               Helvetica,
               Arial,
               sans-serif;
  color:#333;
}
html{
  position: relative;
  min-height: 100%;
}
body{
  margin-bottom: 2rem;
}
*{
  box-sizing:border-box;
}

/* Main Layout */
#main-column{
  width: 700px;
  margin: auto;
  font-size: 1.1rem;
}

/* Header */
#mini-nav{
  display: none;
}
header{
  position: fixed;
  top: 0px;
  left: 15px;
  width: 120px;
  text-align:center;
  #logo{
    display: inline-block;
    margin-left: 6px;
    height: 100px;
    width: 100px;
    background-size: contain;
    background-image: url(/img/logo.png);
  }
  #subscribe, #home{
    text-align: center;
    display: block;
    text-decoration: none;
    color: #333;
    border-radius: 3px;
    transition: all .2s ease-in-out;
    .icon{
      margin-right: 3px;
    }
    &:hover{
      padding: 3px 0;
      border: 1px solid rgba(0,0,0,.5);
      box-shadow: 0 0 3px rgba(0,0,0,.5);
    }
  }
  #home{
    .icon{
      font-size: 1.2rem;
      line-height: 1rem;
      vertical-align: text-bottom;
    }
  }
}

footer{
  position: absolute;
  bottom: 0;
  padding-left: 15px;
  border-top: 1px solid #bbb;
  color: #555;
  width: 100%;
  a {
    color: #777;
  }
}

/* Posts */
.posts{
  margin-top: 100px;
  a{
    color: #7286AD;
    font-size: 1.2rem;
    &:visited{
      color: #666;
    }
  }
}
.page-header{
  margin-top: 1rem;
  margin-bottom: 15px;
  position: relative;
  .page-title{
    font-family: "Amatic SC", "Open Sans",sans-serif;
    margin: 0;
    font-size: 3.5rem;
    line-height: 3.5rem;
    font-weight: bold;
  }
  .page-subtitle{
    font-family: "Amatic SC", "Open Sans",sans-serif;
    line-height: 2rem;
    font-size: 2rem;
    font-weight: normal;
    margin: 0;
    margin-bottom: -1rem;
  }
  .date{
    position: absolute;
    color: #9EABB3;
    text-align: center;
    bottom: -.5rem;
    right: 0;
    span{
      background-color: white;
      padding: 0 .4rem;
    }
  }
  hr{
    margin-top: .5rem;
  }
}
article{
  h2{
    margin-left: -1rem;
  }
}
.page-footer{
  text-align: center;
  margin-bottom: 2rem;
  h4{
    display: inline-block;
    padding: .7rem;
    font-weight: normal;
    font-family: Georgia, serif;
    font-size: .8rem;
    border: 1px solid #ddd;
    border-radius: .7rem;
  }
  .sans{
    font-family: sans-serif;
  }
}


/*-- Code Snippet --*/
code{
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: .5rem;
  white-space:pre;
  padding: 0 .5rem;
  color: #555;
}
.highlight{
  background-color: #f4f4f4;
  line-height: 1.1;
  font-size: 1rem;
  padding: 10px;
  border-radius: 10px;
  box-shadow: inset 0 0 3px rgba(0,0,0,.2);
  code{
    background-color: #f4f4f4;
    white-space: pre !important;
    border: none !important;
    padding: 0 !important;
  }
  pre{
    margin: 0;
  }
}
